body {
    background-color: #757575;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.threeD {
    font-size: 40px;
    margin: 25px;
    color:#e65100;
    background-color: white;
    padding: 15px;
    transition: all .3s ease-in-out;
    text-shadow: 0 0 2px black;
    border-radius: 12px;
}
.threeD:hover{
    text-shadow: -5px -5px 1px black;
}

.done {
    text-decoration: line-through;
}