body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content:center; 
    flex-direction:column;
    background-color: #00695c;
}

.threeD {
    font-size: 50px;
    margin: 5px;
    padding: 20px;
    color: #212121;
    transform: skew(-10deg, -18deg) rotate(-9deg);
    background-color: aqua;
    cursor: pointer;
    transition: all .3s ease-in-out;
    text-shadow: 0 0 2px black;
}

.threeD:hover{
    text-shadow: -5px -5px 1px black;
}

.input {
    margin-top: 100px;
}

.done {
    text-decoration: line-through;
}