body {
    background-color:#f79e9e;
}

.title {
    text-align: center;
    background-color: whitesmoke;
}

.lista {
    text-align: left;
    width: 70%;
    background-color: #ffebee;
}

input {
    width: 500px;
    height: auto;
    font-size: 25px;
}